html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
}

body, nav {
    margin: 0;
    padding: 0;
}

main {
    margin: auto;
    width: 80%;
    
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    color: #4c4f53;
}

a {
    text-decoration: none;
    color: var(--accent);
}

a:hover {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

h1, h2, h3 {
    color: black;
}

/** NAVIGATION ********************************************/

nav {
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.07);
    flex: auto;
    max-height: 50px;
}

nav ul {
    list-style-type: none;
    height: 20px;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
}

nav a:hover {
    color: var(--accent);
}

nav div:first-child {
    float: left;
    margin-left: 2%;
}

nav div:last-child {
    float: right;
    margin-right: 2%;
}

footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    opacity: 0.7;
}

/** HOME PAGE **************************************************/

#mainIntro {
    width: 60%;
}

#mainIntro > h1 {
    color: #212121;
    font-size: 9vh;
}

#mainIntro > h2 {
    color: #757575;
    font-size: 3vmin;
    font-style: italic;
}

/** ABOUT PAGE *************************************************/
#mainAbout div {
    float: left;
}

#mainAbout img {
    mask-image: url(hexagon-mask.png);
    mask-repeat: no-repeat;
    mask-size: 230px 250px;
    -webkit-mask-image: url(hexagon-mask.png);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 230px 250px;
    width: 250px;
    height: 250px;
    margin: 20px auto;
    display: block;
}

#mainAbout div:first-child {
    width: 30%;
}

#mainAbout div:nth-child(2) {
    width: 65%;
}


/** BLOG LIST PAGE **************************************************/

#mainBlogList {
    text-align: center;
}

#mainBlogList li span {
    opacity: 0.6;
    font-style: italic;
}

/** BLOG POST PAGE *************************************************/

#mainBlogPost {
    width: 100vw;
}

#mainBlogPost h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 60px;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Roboto';
}

#mainBlogPost .tags {
    font-weight: bold;
    opacity: 0.8;
    font-size: 13px;
    margin-bottom: 50px;
}

#mainBlogPost .tags > a {
    font-weight: normal;
    font-style: italic;
}

#mainBlogPost .tags > a:after {
    content: ", ";
}   

#mainBlogPost .tags > a:last-child:after {
    content: "";
}

#mainBlogPost > div {
    width: 60%;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 15px;
}

#mainBlogPost img {
    height: 300px;
    max-width: 100%;
}

#mainBlogPost h2 {
    font-size: 23px;
    margin-top: 100px;
}

#mainBlogPost img {
    margin: auto;
    display: block;
    max-width: 80%;
}