html, body {
    height: 100%;
}

body {
    padding-top: 55px;
    display: flex;
    flex-direction: column;
}

body, nav {
    margin: 0;
    padding: 0;
}

main {
    margin: auto;
    padding: 25px;
    width: 80%;
    margin-top: 2%;
}

a {
    text-decoration: none;
    color: var(--accent);
}

a:hover {
    color: var(--accent);
}

a.icon:hover {
    text-decoration: none;
}

/** NAVIGATION ********************************************/

nav {
    top : 0;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.07);
    height: 50px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    text-decoration: none;
    color: inherit;
    padding: 10px;
}

nav a:hover {
    color: var(--accent);
}

nav div:first-child {
    float: left;
    margin-left: 2%;
}

nav div:last-child {
    float: right;
    margin-right: 2%;
}

footer {
    text-align: center;
    bottom: 0;
    width: 100%;
    opacity: 0.7;
}

/** HOME PAGE **************************************************/

#mainIntro {
    transform: translateY(22vh);
    width: 60%;
}

#mainIntro > h1 {
    color: #212121;
    font-size: 9vh;
}

#mainIntro > h2 {
    color: #757575;
    font-size: 3vmin;
    font-style: italic;
}

/** ABOUT PAGE *************************************************/
#mainAbout div {
    float: left;
    margin-top: 10%;
}

#mainAbout img {
    mask-image: url(hexagon-mask.png);
    mask-repeat: no-repeat;
    mask-size: 230px 250px;
    -webkit-mask-image: url(hexagon-mask.png);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 230px 250px;
    width: 250px;
    height: 250px;
    margin: 20px auto;
    display: block;
}

#mainAbout div:first-child {
    width: 30%;
}

#mainAbout div:nth-child(2) {
    width: 65%;
}


/** BLOG LIST PAGE **************************************************/

#mainBlogList {
    text-align: center;
}

#mainBlogList li span {
    opacity: 0.6;
    font-style: italic;
}

/** BLOG POST PAGE *************************************************/

#mainBlogPost {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#mainBlogPost img.blogBanner { /* And a good possibility of joke about BruceBanner wasted... */
    height: 300px;
    max-width: 100%;
}

#mainBlogPost h4 {
    font-style: italic;
    opacity: 0.8;
    font-size: 14pt;
}

#mainBlogPost img {
    margin: auto;
    display: block;
    max-width: 80%;
}