{{ partial "header" . }}

<main id="mainProjectList">
    <h2>Projects</h2>
    
    {{ range .Paginator.Pages }} 
        <div onclick="window.location.href={{ .Page.RelPermalink }};">
            <img src="{{ .Page.Params.thumbnail }}" alt="Project {{ .Page.Title}} thumbnail" />
            
            <h4>{{ .Page.Title }}</h4>
            
            <div>
                Started : {{ .Page.Params.startDate }} - 
                {{ if not .Page.Params.endDate }}
                Work in Progress
                {{ else }}
                .Page.Params.endDate
                {{ end }}
            </div>

            {{ .Page.Params.description }}
        </div>
    {{ end }}
</main>

{{ partial "footer" . }}